<!DOCTYPE html>
<html>

<head>
  <title>Simple memo</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>Simple Memo</h1> <input type="button" value="new Memo" onclick="javascript:location.href='/newMemo'">
  <table border='1'>
    <tr>
      <th>Memo</th>
      <th>Date</th>
      <th>Edit</th>
    </tr>
    <% rows.forEach((row, index)=>{ %> <tr>
        <td>
          <%=row.CONTENT%>
        </td>
        <td>
          <%=row.UPDATED_AT%>
        </td>
        <td> <input type="button" onclick="javascript:location.href='/updateMemo?id=<%=row.ID%>'" value="Edit"> <input
            type="button" onclick="javascript:location.href='/deleteMemo?id=<%=row.ID%>'" value="Del"> </td>
      </tr>
      <% }) %>
  </table>
</body>

</html>